body {
  background-color: green;
  overflow: hidden;
}

* {
  outline: 0;
}

img {
  position:absolute;
  border-radius: 100%;
}

.arrow {
  position: absolute;
}

h1 {
  font-size: 8vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the element */
  text-align: center;
  color: green;
  font-style: italic;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove any padding */
  animation: password 3s step-end infinite normal forwards;
}

@keyframes password {
  0%, 100% {
    color: green;
  }
  50% {
    color: black;
  }
}