body {
  background-color: green;
}
div {
  border-radius: 100%;
  position: absolute;
  border: none;
  background-color: rgb(32, 164, 32);
  
}
h1 {
  font-size: 8vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: green;
  font-style: italic;
  margin: 0; 
  padding: 0;
  animation: password 3s step-end infinite normal forwards;
}
@keyframes password {
  0%, 100% {
    color: green;
  }
  50% {
    color: black;
  }
}
@keyframes highlight {
  from {background-color: rgb(246, 246, 246);}
  to {background-color: rgb(32, 164, 32);}
}