body {
  background-color: green;
}
div {
  border-radius: 100%;
  position: absolute;
  border: none;
  background-color: rgb(32, 164, 32);
  /* animation: highlight .5s ease-out 1 forwards; */
}
@keyframes highlight {
  from {background-color: rgb(246, 246, 246);}
  to {background-color: rgb(32, 164, 32);}
}